@import "variable";
* {
  box-sizing: border-box;
}
html {
  font-family: 'Geometria', serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  color: black;
}
body {
  margin: 0;
}
h1, h2 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

button,
input,
optgroup,
select,
textarea {
  &:focus {
    outline: none;
  }
  font-family: inherit;
  margin: 0;
}

button {
  border: none;
  &:hover {
    opacity: 0.8;
  }
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[hidden] {
  display: none;
}

nav ul { 
  margin: 0;
  padding: 0;
}
nav li {
  list-style-type: none;
}
nav a:link, nav a:hover, nav a:visited, a:active {
  color: inherit;
}

.icon_use{
  line-height: 0;
}


@media all and (min-width: 320px) {

}

@media all and (min-width: 767px) {

}

@media all and (min-width: 1280px) {
  .container {
    max-width: 1057px;
    margin: 0 auto;
  }
}

