
.btn{
    border-radius: 8px;
    line-height: 1.5;
    min-height: 31px;
    min-width: 208px;
    box-shadow: 0 5px 30px $colorSecondary;
    letter-spacing: 0.6px;
    font-size: 12px;
    font-weight: 200;

    cursor: pointer;
}
.product_cat .btn {
    min-height: 47px;
}

.btn-green{
    background-color: $colorMain;
    color: #ffffff;
}
.btn-gray{
    background-color: $colorSecondary;
}
.btn-white{
    background-color: #ffffff;
    box-shadow: none;
}


.button {
    @extend .btn;
    @extend .btn-green;
    display: inline-block;
    color: white;
    min-width: 99px;
    min-height: 47px;
    line-height: 47px;
    border: none;
    box-shadow: none;
}


@media all and (max-width: 1280px) {
    .btn {
        min-height: 46px;
    }
    .product_cat .btn {
        max-height: 47px;
    }
}
  
@media all and (max-width: 768px) {
    .btn, .product_cat .btn {
        min-height: 27px;
        font-size: 10px;
        max-height: 27px;
    }
    .button {
        line-height: 27px;
    }
}