@import "variable";

.footer-gallery_item {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;

    color: $textFooter;

    cursor: pointer;

    transform: initial;
    transition: all .5s cubic-bezier(0,0,.5,1);
}


.quality_one {
    line-height: 50vh;
    height: calc(50.52% + 40px);
    width: calc(29.92% + 40px);
    left: -20px;
    top: -20px;
}
.quality_two {
    line-height: 50vh;
    height: calc(50.52% + 40px);
    width: calc(37.03% + 40px);
    left: calc(29.92% - 10px);
    top: -40px;
}
.quality_three {
    line-height: 25vh;
    height: 26.57%;
    width: calc(34.45% + 40px);
    top: 50.52%;
    left: -20px;

    background-color: white;
}
.quality_four {
    line-height: 25vh;
    height: calc(23.04% + 40px);
    width: calc(34.45% + 40px);
    left: -20px;
    top: 77.09%;

    background-color: pink;
}

.quality_five {
    // line-height: 50vh;
    height: calc(49.48% + 40px);
    width: calc(32.5% + 40px);
    left: 34.45%;
    top: 50.52%;

    background-color: $colorMain;

    .footer-gallery_heading {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-40%,-50%);
    }
    .footer-gallery_icon {
        margin-bottom: 20px;
    }
}

.quality_six {
    height: 75%;
    width: calc(33.05% + 40px);
    left: 66.95%;

    .footer-gallery_heading {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,0);
    }
}
.quality_seven {
    line-height: 25vh;
    height: 25%;
    width: calc(33.05% + 40px);
    left: 66.95%;
    top: 75%;
    z-index: 1;

    background-color: #ccc;
}

.quality_two, .quality_four, .quality_five, .quality_six {
    color: white;
}

.footer-gallery_photo {
    position: absolute;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    transition: all .5s cubic-bezier(0,0,.5,1);

    top: 0;
    width: calc(100% + 50px);
}

.footer-gallery_photo::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #808080;
    opacity: .4;
}

.footer-gallery_photo-two {
    top: 0;
    left: -10px;
    width: 100%;
}
.footer-gallery_photo-six {
    right: 0;
    left: -30px;   
}

.footer-gallery_heading {
    position: relative;
    z-index: 1;
    font-size: 24.35px;
    letter-spacing: 1.826px;
    transform: translateX(-20px);
    display: flex;
    flex-direction: column;

    transition: all .5s cubic-bezier(0,0,.5,1);
}


.main-footer {
    height: 75vh;
    padding-top: 45px;
    color: #5d5d5d;
}

.main-footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.main-footer_nav {
    width:  47.3%;
}
.main-footer_nav-wrapper {
    justify-content: space-between;
    display: flex;
}

.main-footer_nav-item {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 500;
    line-height: 1.5;

    min-width: 65px;
    max-width: 110px;

    a {
        width: 100%;
    }
}
.main-footer_nav-item:last-child{
    max-width: 125px;
}

.main-footer_contacts {
    font-size: 12px;

    
}

.footer-contacts_line-1,.footer-contacts_line-2, .footer-contacts_line-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-contacts_line-1 > *:not(:last-child) {
    margin-right: 13px;
}

.footer-contacts_line-2 {
    margin: 15px 0 25px;
}

.footer-contacts_address {
    max-width: 60%;
    text-align: right;
}
@media all and (max-width: 1280px) {
    .footer-gallery_item {
        position: relative;
        min-height: 481px;
    }
    .quality_one, .quality_two, .quality_three, .quality_four, .quality_five, .quality_six, .quality_seven, .footer-gallery_photo-four, .footer-gallery_photo-two, .footer-gallery_photo-six, .footer-gallery_photo-one {
        width: 100%;
        left: 0;
        top: 0;
    }

    .footer-gallery_heading, .quality_six .footer-gallery_heading {
        transform: translate(-50%,-50%);
        line-height: initial;
        position: absolute;
        top: 50%;
        left: 50%;
    }




    .main-footer_inner {
        flex-direction: column;
    }

    .main-footer_nav {
        width: 100%;
    }
    .main-footer_nav-wrapper {
        flex-direction: column;
    }

    .main-footer_nav-item, .main-footer_nav-item:last-child {
        max-width: initial;
        font-size: 14px;
    }
    .main-footer_nav-item:not(:last-child) {
        margin-bottom: 30px;
    }

    .main-footer_contacts {
        margin-top: 70px;
    }

    .footer-contacts_line-1, .footer-contacts_line-2, .footer-contacts_line-3 {
        justify-content: flex-start;
    }
    .footer-contacts_address {
        text-align: left;
        max-width: initial;
    }

    .footer-contacts_line-3 {
        display: none;
    }
}
@media all and (min-width: 768px) {

}
@media all and (min-width: 320px) {

}





