@import "variable";

#fullpage .section{
    height: 100vh;
}
.section{
    position: relative;
    overflow: hidden;
}
.section-green{
    padding: 132px 0;
    background-color: $colorMain;
    color: #ffffff;
}

.section-photo {
    transition: transform 2s ease;
}


.section-heading{
    letter-spacing: 2.25px;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    line-height: 1.5;
    font-size: 30px;
}
.section-choose_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .section-heading {
        max-width: 416px;
        margin-bottom: 50px;
    }
    .photo-product{
        position: relative;
    }
}
.section-choose_photo {
    height: 100%;
    width: auto;
    position: absolute;
    min-height: 686px;
    transform: translate(-22%,0%);
}

.section-how_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65.45%;
}

.section-how_product-description{
    margin-top: 50px;
}
.section-how_advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 11.54%;
}
.section-how_product-description {
    @include spacedText;
}
.section-how_advantages-icon_wrapper {
    margin-bottom: 20px;
}
.section-how_advantages-icon {
    max-width: 124px;
    max-height: 104px;
}
.section-how_advantages-text {
    color: black;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.product_cat {
    .section-how_advantages-icon_wrapper {
        margin-bottom: 50px;
    }
    .section-how_inner {
        min-height: 335px;
    }
}

.section-kids {
    background: url('./../../img/images/bl5-backgr.png') no-repeat center center $bgGrayCurves;
    background-size: cover;
}
.section-kids_inner, .section-diagn_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
}

.section-kids_intro {
    text-align: right;
    .remark {
        margin: 10px 0 40px;
    }
}

.section-diagn_inner {
    grid-template-columns: 500px auto;
    transform: translateY(-5%);
    grid-column-gap: 5%;
}
.section-kids_pic-item, .section-kids_diagn-item {
    height: 100%;
    width: auto;
    position: relative;
}
.kids-product_symb {
    position: absolute;
    max-height: 532px;
    bottom: 50%;
    transform: translate(-29%,58%);
}

.section-diagn_intro {
    .section-heading {
        margin-bottom: 60px;
    }
}


.section-protect_inner {
    display: flex;
    width: 100%;
}

.section-protect_item {
    height: 100vh;
    width: 16.666666%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 50%;
    transition: all .5s ease;
    cursor: pointer;
    
    position: relative;
}
.item-gallery_overlay {
    @include positionAbs;
    width: 100%;
    background-color: #808080;
    opacity: .6;

    transition: opacity 0.4s ease;
}

.item-gallery_intro {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-35%);
    text-align: center;

    color: white;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 120px;
    opacity: 1;

    transition: opacity .5s ease, transform 1s ease;
}

.item-gallery_intro-num {
    opacity: 1;
    transition: opacity .3s ease;
    span{
        font-size: 73.34px;
    }
}
.item-gallery_intro-heading {
    letter-spacing: 1.2px;
    font-weight: 500;
    margin: 25px 0 25px;
}

.item-gallery_intro-canvas {
    margin: 0 auto;
    opacity: 0;

    transition: opacity .3s ease;
}

.hide-bl {
    transform: translate(-50%,-45%);

    .item-gallery_intro-num {
        opacity: 0;
    }
}
.hide-overlay {
    opacity: .4;
}



.ref, .slider-protect-navigation {
    display: none;
}
.footer-gallery {
    height: 100vh;
}
.slider-protect-navigation, .footer-gallery-nav {
    display: none;
}


@media all and (min-width: 1280px) { 
    .hide-pic {
        transform: translateY(200%);
    }
    
}
@media all and (max-width: 1280px) {
    .section{
        padding: 60px 0 100px;
        height: auto;
    }

    .section-how {
        .section-heading {
            max-width: 75%;
        }
    }

    
    .section-how_product-description {
        margin-top: 33px;
        margin-bottom: 30px;
        max-width: 75%;
    }
    .section-how_advantages, .section-choose_inner, .section-kids_inner, .section-diagn_inner {
        grid-template-columns: 1fr;
    }
    .section-how_advantages-item {
        position: relative;
        padding: 15px 0 20px;
    }
    
    #fullpage{
        .section-how_advantages-item:not(:last-child)::after {
            content: '';
            height: 1px;
            width: 120%;
            background-color: white;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            right: 0;
            position: absolute;
        }
    }

    .section-how_advantages-icon {
        max-width: 73px;
        max-height: 61px;
    }
    .section-how_advantages-icon_wrapper {
        margin-bottom: 16px;
    }
    .section-choose_photo {
        position: relative;
        min-height: initial;
        
        transform: translate(-5%,10%) scale(.9);
    }
    .section-kids, .section-diagn {
        padding: 100px 0 140px;
    }
    .section-kids_intro {
        grid-row: 1/2;
    }

    .section-kids_inner,.section-diagn_inner {
        grid-row-gap: 81px;
    }
    .kids-product_symb {
        transform: translate(-29%,76%) scale(.99);
    }

    .section-diagn_intro { 
        .section-heading {
            max-width: 70%;
        }
        .btn {
            box-shadow: none;
        }
        .btn-group {
            flex-direction: row;
            max-width: initial;
            justify-content: flex-end;
        }
        .btn-group :first-child {
            margin-bottom: 0;
            margin-right: 21px;
        }
        .btn-group :last-child {
            min-width: 217px;
        }
    }
    .section-diagn_inner {
        transform: initial;
    }

    .section-diagn_pic {
        text-align: center;
    }

    .section.section-protect {
        padding: 0;
    }

    .section-protect_inner {
        display: block;
    }
    .section-protect_item {
        width: 100%;
    }

    .item-gallery_intro {
        font-size: 32.92px;
        text-align: center;
        max-width: 170px;
    }

    .hide-bl {
        transform: translate(-50%,-80%);
        .item-gallery_intro-num {
            opacity: 1;
        }
    }
    .item-gallery_intro-icon {
        margin: 0 auto;
       width: 120px;
       height: 120px;
       overflow: hidden;
    }
    .ref {
        display: block;
        position: relative;
        bottom: 800%;
    }

    .slider-protect-navigation, .footer-gallery-nav {
        display: block;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 210px;
        height: 30px;
    }
    .footer-gallery-nav {
        position: relative;
        bottom: auto;
        top: 25px;
    }

    .section.footer-gallery {
        padding: 0;
        min-height: 550px;
    }

    .slick-dots {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        li {
            list-style: none;
            background: white;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            cursor: pointer;
            transition: width .7s ease, height .7s ease;
        }
        li.slick-active {
            width: 28px;
            height: 28px;
            background-color: transparent;
            border: 2px solid white;
            transform: translateY(-25%);
        }
        button {
           opacity: 0;
        }
    }
    .slick-dots.gray {
        li {
            background-color: $bgGrayCurves;
        }
        li.slick-active {
            background-color: transparent;
            border: 2px solid $bgGrayCurves;
        }
    }


    .product_cat {
        overflow-x: hidden;
        .section-heading {
            margin-bottom: 55px;
        }
        .section-how_advantages-icon {
            max-width: 123px;
            max-height: 103px;
        }
        .section-how_advantages {
            padding-left: 60px;
        }
    }
    
    
}
@media all and (max-width: 767px) {
    html {
        font-size: 12px;
    }
    .section {
        padding: 44px 0 57px;
    }
    .section-heading {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.25px;
    }
    .section-kids_intro .remark {
        font-weight: 500;
    }
    .section-how .section-heading, .section-how_product-description {
        max-width: initial;
    }
    .section-how_product-description {
        margin-bottom: 40px;
    }
    .section-how_advantages-icon {
        max-width: 50px;
        max-height: 42px;
    }
    .section-how_advantages-icon_wrapper {
        margin-bottom: 12px;
    }
    .section-how_advantages-item {
        padding: 8px 0 12px;
    }
    .slick-dots li {
        width: 9px;
        height: 9px;
    }
    .slick-dots li.slick-active {
        width: 15px;
        height: 15px;
    }
    .item-gallery_intro {
        font-size: 24px;
    }
    .item-gallery_intro-num span {
        font-size: 55.96px;
    }
    .hide-bl .item-gallery_intro-num {
        line-height: 1;
    }

    .hide-bl {
        transform: translate(-50%,-65%);
    }
    .item-gallery_intro-icon {
        transform: scale(0.8);
    }
    .item-gallery_intro-heading {
        margin: 25px 0 5px;
    }
    .section-choose_photo { 
        width: 150%;
        text-align: center;
    }

    .kids-product_photo {
        max-height: 276px;
    }

    .kids-product_symb {
        max-height: 272px;
        transform: translate(-29%,89%);
    }
    .section-kids_inner {
        grid-row-gap: 32px;
    }

    .section-kids_diagn-item {
        width: 100%;
        height: auto;
    }

    .section-diagn_intro .btn-group {
        justify-content: flex-start;
        max-width: 240px;
    }
    .section-diagn_intro .btn {
        flex-basis: auto;
        flex-grow: 1;
        min-width: 107px;
    }
    .section-diagn_intro .btn-group :last-child {
        min-width: initial;
    }
    .section-diagn_intro .btn-group { 
        max-width: 350px;    
    }
    .section-diagn_intro .section-heading {
        margin-bottom: 33px;
        max-width: 95%;
    }

    .section-diagn_intro .btn-group :first-child {
        margin-right: $gap;
    }

    .product_cat {
        overflow-x: hidden;
        .section-green {
            padding: 60px 0 90px;
        }
        .section-how_advantages-icon {
            max-width: 67px;
            max-height: 56px;
        }
        .section-how_advantages {
            padding-left: 17px;
        }
    }

}