@import "variable";
.main_header{
    height: 100vh;
    background: url('./../../img/images/main-header.jpg') no-repeat top center;
    background-size: cover;
    padding: $paddingV $paddingH;
}
.main_header-nav_wrapper{
    min-height: 29.26%;
}

.main_header-nav{
    display: flex;
    justify-content: space-between;

    font-size: 12px;
    color: $fillGray;
}
.main_header-nav-left, .main_header-nav-right{
    display: flex;
}
.main_header-nav-left { 
    width: 25.39%;
    justify-content: space-between;
}
.main_header-nav-right {
    position: relative;
    top: 4px;
}
.main_header-nav-burger {
    cursor: pointer;
}
.main_header-nav-burger.nav-mobile {
    display: none;
}
.main_header-nav-left_item{

    display: flex;
}

.main_header-nav-contact {
    margin-right: $gap;
}

.main_header-nav-langs {
    color: black;
    position: relative;
    top: -4px;
    margin-right: $gap;
}

.nav-toggle-list {
    display: flex;
    position: relative;
    max-height: 1.5em;
}

.nav-toggle-list_name {
    padding-right: 12px;
}

.nav-toggle-list_arr-down {
    position: absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
}

.main_header-content {
    height: 65.45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_header-heading {
    color: $textDefault;
    h1{
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 500;
        letter-spacing: 2.25px;
        font-size: 30px;

    }
    h2{
        letter-spacing: 0.4px;
        font-weight: 400;
        font-size: 16px;
    }
}

.btn-group :first-child{
    margin-right: $paddingH;
}

.main_header-subinfo{
    @include spacedText;
    margin-bottom: 20px;
    color: black;
}

.main_header-stamp{
    margin-top: 3.14%;
}

// @media all and (min-width: 320px) {

// }


@media all and (max-width: 1280px) {
    .main_header{
        padding: 20px 28px 40px;
        background-position-x: 30%;
    }

    .main_header-nav-active-btns, .main_header-nav-right {
        display: none;
    }

    .btn-group {
        max-width: 217px;
        display: flex;
        flex-direction: column;
    }
    .btn-group :first-child {
        margin-right: 0;
        margin-bottom: 21px;
    }
    .btn-group :last-child {
        max-width: 196px;
        min-width: initial;
    }

    .main_header-nav_wrapper {
        min-height: 23.26%;
    }

    .main_header-content {
        height: 75.74%;
    }
    .main_header-stamp{
        margin-top: 9%;
    }
    .main_header-subheading {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }
    
    .main_header-nav-burger.nav-mobile {
        display: block;
        position: fixed;
        top: 20px;
        right: 28px;
        z-index: 150;
    }
}

@media all and (max-width: 767px) {
    .main_header{
        padding: 20px 0 70px;
        background-position-x: 35%;
    }
    .main_header-nav_wrapper {
        padding: 0 22px;
    }
    .main_header-subinfo, .main_header-heading h2 {
        font-size:  12px;
    }
    .main_header-heading h2 {
        max-width: 40%;
    }

    .main_header-stamp {
        display: none;
    }

    .main_header-heading h1 {
        font-size: 21px;
    }
    
}

