.icon_stamp{
    width: 66px;
    height: 70px;
}
.icon_logo{
    width: 115px;
    max-height: 61px;
}

.icon_burger{
    width: 29px;
    height: 12px;
}

.icon-media {
    width: 16px;
    height: 16px;
    fill: #ccc;
}

.icon-up {
    cursor: pointer;
    
    fill: #8d8e8e;
    width: 44px;
    height: 44px;
}