.icon_stamp{
    width: 66px;
    height: 70px;
}
.icon_logo{
    width: 115px;
    max-height: 61px;
}

.icon_burger{
    width: 29px;
    height: 12px;
}

.icon-media {
    width: 16px;
    height: 16px;
    fill: #ccc;
}

.icon-up {
    cursor: pointer;
    
    fill: #8d8e8e;
    width: 44px;
    height: 44px;
}

.icon-header {
    fill: $fillIconsHeader;
}

.icon-shoppingcart {
    width: 13px;
    height: 13px;
}

.icon-arr_down {
    width: 8px;
    height: 4px;
}


// @media all and (min-width: 320px) {

// }


@media all and (max-width: 1280px) {
    .icon_logo{
        width: 165px;
        max-height: 86px;
    }
    .icon-media {
        width: 23px;
        height: 23px;
    }

}

@media all and (max-width: 767px) {
    .icon_logo{
        width: 130px;
        max-height: 86px;
    }
}
