.menu_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: -1;
}
.menu_shadow-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: .4;
    // opacity: 0;

    transition: opacity .2s ease;
}
.menu_outer {
    position: absolute;
    top: 102px;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #fff;

    transform: translateY(-100%);

    transition: transform .7s ease;
}

.menu_inner {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 60%;
    ul {
        position: absolute;
        top: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    li {
        color: #585858;
    }
    .menu-item:not(:last-child) {
        margin-bottom: 20px;
    }
}
.menu_close {
    cursor: pointer;
    // position: absolute;
    // top: 30px;
    // right: 25px;
}

.menu_show {
    z-index: 1000;
    .menu_shadow-overlay {
        opacity: .4;
    }
    .menu_outer {
        transform: translateX(0);
    }
}

#fp-nav {
    z-index: 150;
    position: fixed;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
    }
    .fp-sr-only {
        opacity: 0;
    }
}
    
#fp-nav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a{
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -5px 0 0 -6px;
    border-radius: 100%;
    opacity: 0;
 }
#fp-nav ul li a span{
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    background: transparent;
    left: 50%;
    top: 50%;
    margin: 3px 0 0 -5px;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -2px 0px 0px -5px;
}

@media all and (max-width: 1280px) {
    .menu_close {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 28px;
    }
}

@media all and (max-width: 767px) {
    .menu_outer {
        width: 100%;
    }
}