.popup-product_wrapper {
    position: fixed;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: scroll;

    // opacity: 0;
    // z-index: -1;

    transition: all .7s ease-out;

    .main_header-nav_wrapper {
        position: relative;
        min-height: 80px;
    }

    .btn {
        min-height: 47px;
        min-width: 99px;
        box-shadow: none;
    }
    .section-how_advantages-icon {
        fill: $colorMain;
    }
    .how-heading {
        display: block;
        font-weight: 500;
    }
    .section-how_advantages {
        grid-column-gap: 6.54%;
        margin-top: 95px;
    }
}

.popup-product_img-overlay {
    position: absolute;
    top: -60px;
    bottom: 100px;
    right: -20px;
    left: 0;
    z-index: -1;

    background: no-repeat right top;
    background-size: auto 100%;

    // opacity: 0;

    transition: all .7s ease-out 1.7s;
}



.popup-product_content {
    max-width: 75.08%;
    padding: 0 25px 100px;
    display: flex;
}

.popup-product_sidebar-nav_outer {
    
    display: flex;
    align-items: flex-end;
    
}

.popup-product_sidebar-nav {
    min-width: 86px;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-content_inner {
    // opacity: 0;
    // transform: translateX(-5%);

    max-width: 91.83%;
    padding-right: 25px;

    transition: all .7s ease-out .7s;
}
.popup-product_main-header {
    // opacity: 0;
    // transform: translateX(-5%);

    transition: all .7s ease-out .7s;

    display: flex;
    align-items: center;

    margin-bottom: 25px;

    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.95px;

    .popup-product_main-icon {
        margin-right: 30px;
    }
}
.popup-product_main-subheader {
    font-size: 11px;
    letter-spacing: .825px;
    font-weight: 500;
    margin-bottom: 29px;
}

.popup-product_main-header, .popup-product_main-subheader {
    margin-left: 86px;
}

.popup-product_main-description_outer {
    display: flex;
    justify-content: space-between;
}
.popup-product_main-description {
    display: flex;
    text-align: justify;
    justify-content: space-between;
    .column {
        width: 45.77%;

        font-size: 13px;
        letter-spacing: 0.325px;
    }
    p {
        margin: 20px 0;
    }
}
.popup_active-btn {
    text-align: right;
    margin-top: 10px;
}

.popup-product_wrapper.visible {
    opacity: 1;
    z-index: 160;

    .popup-product_img-overlay {
        opacity: 1;
    }
    .popup-content_inner, .popup-product_main-header {
        opacity: 1;
        transform: translateX(0);
    }
}





@media all and (max-width: 1280px) {
    .popup-product_wrapper {
        
        .main_header-nav_wrapper {
            min-height: 140px;
        }

        .btn {
            min-width: 291px;
        }
    
    }
    .popup-product_main-header {
        margin-left: 0;
    }
    .popup-product_main-subheader {
        margin-left: 68px;
        text-align: right;
        font-size: 14px;
    }
    .popup-product_sidebar-nav {
        min-width: 68px;
    }
    .popup-product_content, .popup-content_inner {
        max-width: none;
    }
    .popup-content_inner {
        padding-right: 0;
    }
    .popup-product_img-overlay {
        position: static;
        min-height: 562px;
        background-position: center center;
        margin-bottom: 85px;
    }
    .popup-product_main-description {
        flex-direction: column;
        .column {
            width: 100%;
            font-size: 16px;
        }
    }
    
}
@media all and (max-width: 768px) {
    .popup-product_wrapper {
        
        .main_header-nav_wrapper {
            min-height: 80px;
            padding: 25px 22px 0;
        }

        .btn {
            min-width: 168px;
            min-height: 27px;
        }
        .section-how_advantages {
            margin-top: 55px;
        }
    
    }
    .popup-product_main-header {
        font-size: 16px;
        .popup-product_main-icon {
            display: none;
        }
    }
    .popup-product_img-overlay {
        min-height: 392px;
        margin-bottom: 20px;
    }
    .popup-product_main-subheader {
        margin-left: 0;
        text-align: left;
        font-size: 10px;
        margin-bottom: 20px;
    }
    .popup-product_main-description_outer {
        flex-direction: column-reverse;
        p {
            margin: 15px 0;
        }
        p:first-child {
            margin-top: 0;
        }
    }
    .popup-product_main-description .column {
        font-size: 12px;
    }
    .popup-product_sidebar-nav {
        flex-direction: row;
    }
    .popup_active-btn {
        text-align: center;
    }
}