.section_product-list {
    padding: 130px 0 75px;
    .section-heading {
        margin-left: 86px;
        margin-bottom: 35px;
    }
    .container {
        max-width: 1230px;
    }
    .btn {
        min-height: 47px;
    }

    .product {
        background-color: white;
        padding: 25px 75px 35px;
        border-radius: 6px;
    }
    .product_buy-course, .button {
        opacity: 0;
        transition: opacity .5s ease-out;
    }
    
    .product:hover {
        transform: scale(1.01);
        box-shadow: 0 0 16px rgba(black, .2);
    }
    .product:hover > .product_buy-course, .product:hover > .button {
        opacity: 1;
    }

    .woocommerce-loop-product__title {
        margin-top: 20px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        .product-num {
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .product_buy-course {
        margin: 0 auto;
        max-width: 158px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 4px 0;
        border-bottom: 1px solid black;
        margin-bottom: 18px;
    }
    .product_buy-course-text {
        margin-right: 3px;
        font-size: 10px;
    }
    .price {
        margin: 24px 0 20px;
    }

}

.section_product-course {
    padding: 35px 0 50px;
    .product {
        width: 50%;
    }
    .product:first-child {
        border-right: 1px solid #878787;
    }
    .woocommerce-loop-product__title {
        margin: 0 auto;
        font-size: 12px;
        font-weight: 600;
        max-width: 265px;
        letter-spacing: .9px;
    }
    .product {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .product_buy-course {
        margin: 0 auto;
        max-width: 108px;
        padding: 4px 0;
        margin-top: 23px;
        text-transform: uppercase;
    }
    .product_buy-course-text {
        font-size: 14px;
        color: black;
    }
    .price {
        margin: 20px 0 30px;
    }
}

.products {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    flex-wrap: wrap;
}
.product {
    list-style-type: none;
    margin-bottom: 5px;
    text-align: center;
    transition: all .7s ease-out;
    img {
        width: auto;
    }
    .price {
        display: block;
        font-size: 12px;
        
    }
    
    .woocommerce-loop-product__title, .price {
        color: black;
    }
    

}


.section-banner {
    width: 100%;
    background: url('./../../img/images/bl7-im3.png') no-repeat center center;
    background-size: 100%;
    position: relative;
    min-height: 365px;
}
.section-banner_inner {
    display: flex;
    position: absolute;
    top: 50px;
    bottom: 50px;
    right: 0;
    left: 0;
    justify-content: flex-end;
    align-items: flex-end;
    .btn-group {
        display: flex;
        width: 36.27%;
    }
    .btn {
        flex-grow: 1;
        flex-basis: auto;
        min-width: initial;
    }
}
.btn:not(:last-child) {
    margin-right: 20px;
}


.section-checkout {
    background-color: $colorMain;
    padding: 0 $paddingH;
}
.section-checkout_inner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    min-height: 218px;
    justify-content: space-between;
    align-items: center;
}

.checkout-sum {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2.25px;
}

.section_product-course {
    background-color: $bgGrayCurves;
}


@media all and (max-width: 1280px) {

    .section-banner {
        min-height: 420px;
        background-size: cover;
        background-position: center left;
    }
    .section-banner_inner {
        top: 45px;
        bottom: 45px;
        .btn-group {
            flex-direction: row;
            max-width: 379px;
            width: 64.27%;
        }
    }



    .section_product-list {
        padding: 60px 0 75px;
        .section-heading {
            margin-left: 0;
            margin-bottom: 30px;
        }
        .btn {
            min-height: 47px;
        }
    
        .product {
            padding: 19px 65px 25px;
        }
    
        .woocommerce-loop-product__title {
            margin-top: 20px;
            font-size: 15px;
            .product-num {
                font-size: 15px;
            }
        }
    
        .product_buy-course {
            max-width: 194px;
            margin-bottom: 15px;
        }
        .product_buy-course-text {
            margin-right: 3px;
            font-size: 13px;
        }
        .price {
            margin: 15px 0 5px;
            font-size: 12.5px;
        }
    
    }
}

@media all and (max-width: 767px) {

    .section_product-list {
        padding: 40px 0 0;
        .section-heading {
            margin-left: 0;
            margin-bottom: 30px;
        }
        .btn {
            line-height: 20px;
            min-height: 20px;
            min-width: 80px;
        }
    
        .product {
            padding: 6px 0 12px;
            width: 50%;
        }
        img {
            width: auto;
            max-width: 75%;
        }
            
        .woocommerce-loop-product__title {
            margin-top: 0;
            font-size: 10px;
            .product-num {
                font-size: 10px;
            }
        }
    
        .product_buy-course {
            max-width: 105px;
            margin-bottom: 15px;
        }
        .product_buy-course-text {
            margin-right: 3px;
            font-size: 8px;
        }
        .price {
            margin: 0;
            font-size: 8px;
        }
    
    }

    .section-banner {
        min-height: 220px;
    }
    .section-banner_inner {
        top: 20px;
        bottom: 20px;
    }

    .section-banner_inner {
        .btn-group {
            max-width: 154px;
            flex-direction: column;
        }
        .btn:not(:last-child) {
            margin-right: 0;
            margin-left: 25px;
        }
    }
}