@import "variable";

.section{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.section-green{
    padding: 132px 0;
    background-color: $colorMain;
    color: #ffffff;
}

.section-heading{
    letter-spacing: 2.25px;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    line-height: 1.5;
    font-size: 30px;
}
.section-choose_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .section-heading {
        max-width: 416px;
        margin-bottom: 50px;
    }
    .photo-product{
        position: relative;
    }
}
.section-choose_photo {
    height: 100%;
    width: auto;
    position: absolute;
    min-height: 686px;
    transform: translate(-22%,0%);
}

.section-how_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65.45%;
}

.section-how_product-description{
    margin-top: 50px;
}
.section-how_advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 11.54%;
}
.section-how_product-description {
    @include spacedText;
}
.section-how_advantages-icon_wrapper {
    margin-bottom: 20px;
}
.section-how_advantages-icon {
    max-width: 124px;
    max-height: 104px;
}
.section-how_advantages-text {
    color: black;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.section-kids {
    background: url('./../../img/images/bl5-backgr.png') no-repeat center center $bgGrayCurves;
    background-size: cover;
}
.section-kids_inner, .section-diagn_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
}
.section-kids_inner {
    padding: 6.3% 0;
}
.section-kids_intro {
    text-align: right;
    .remark {
        margin: 10px 0 40px;
    }
}

.section-diagn_inner {
    grid-template-columns: 500px auto;
    transform: translateY(-5%);
    grid-column-gap: 5%;
}
.section-kids_pic-item, .section-kids_diagn-item {
    height: 100%;
    width: auto;
    position: relative;
}
.kids-product_symb {
    position: absolute;
    max-height: 532px;
    bottom: 50%;
    transform: translate(-29%,58%);
}

.section-diagn_intro {
    .section-heading {
        margin-bottom: 60px;
    }
}


.section-protect_inner {
    display: flex;
    width: 100%;
}

.section-protect_item {
    height: 100vh;
    width: 16.666666%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 50%;
    transition: all .5s ease;
    cursor: pointer;
    
    position: relative;
}
.item-gallery_overlay {
    @include positionAbs;
    width: 100%;
    background-color: #808080;
    opacity: .6;

    transition: opacity 0.4s ease;
}

.item-gallery_intro {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-35%);
    text-align: center;

    color: white;
    font-size: 24px;
    text-transform: uppercase;
    max-width: 120px;
    opacity: 1;

    transition: opacity .5s ease, transform 1s ease;
}

.item-gallery_intro-num {
    opacity: 1;
    transition: opacity .3s ease;
    span{
        font-size: 73.34px;
    }
}
.item-gallery_intro-heading {
    letter-spacing: 1.2px;
    font-weight: 500;
    margin: 25px 0 25px;
}

.item-gallery_intro-canvas {
    margin: 0 auto;
    opacity: 0;

    transition: opacity .3s ease;
}

.hide-bl {
    transform: translate(-50%,-45%);

    .item-gallery_intro-num {
        opacity: 0;
    }
}
.hide-overlay {
    opacity: .4;
}







.footer-gallery_item {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;

    color: $textFooter;

    cursor: pointer;

    transform: initial;
    transition: all .5s cubic-bezier(0,0,.5,1);
}


.quality_one {
    line-height: 50vh;
    height: calc(50.52% + 40px);
    width: calc(29.92% + 40px);
    left: -20px;
    top: -20px;
}
.quality_two {
    line-height: 50vh;
    height: calc(50.52% + 40px);
    width: calc(37.03% + 40px);
    left: calc(29.92% - 10px);
    top: -40px;
}
.quality_three {
    line-height: 25vh;
    height: 26.57%;
    width: calc(34.45% + 40px);
    top: 50.52%;
    left: -20px;

    background-color: white;
}
.quality_four {
    line-height: 25vh;
    height: calc(23.04% + 40px);
    width: calc(34.45% + 40px);
    left: -20px;
    top: 77.09%;

    background-color: pink;
}

.quality_five {
    // line-height: 50vh;
    height: calc(49.48% + 40px);
    width: calc(32.5% + 40px);
    left: 34.45%;
    top: 50.52%;

    background-color: $colorMain;

    .footer-gallery_heading {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-40%,-50%);
    }
    .footer-gallery_icon {
        margin-bottom: 20px;
    }
}

.quality_six {
    height: 75%;
    width: calc(33.05% + 40px);
    left: 66.95%;

    .footer-gallery_heading {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%,0);
    }
}
.quality_seven {
    line-height: 25vh;
    height: 25%;
    width: calc(33.05% + 40px);
    left: 66.95%;
    top: 75%;
    z-index: 1;

    background-color: #ccc;
}

.quality_two, .quality_four, .quality_five, .quality_six {
    color: white;
}

.footer-gallery_photo {
    position: absolute;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    transition: all .5s cubic-bezier(0,0,.5,1);

    top: 0;
    width: calc(100% + 50px);
}

.footer-gallery_photo::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #808080;
    opacity: .4;
}

.footer-gallery_photo-two {
    top: 0;
    left: -10px;
    width: 100%;
}
.footer-gallery_photo-six {
    right: 0;
    left: -30px;   
}

.footer-gallery_heading {
    position: relative;
    z-index: 1;
    font-size: 24.35px;
    letter-spacing: 1.826px;
    transform: translateX(-20px);
    display: flex;
    flex-direction: column;

    transition: all .5s cubic-bezier(0,0,.5,1);
}


.main-footer {
    height: 75vh;
    padding-top: 45px;
    color: #5d5d5d;
}

.main-footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.main-footer_nav {
    width:  47.3%;
}
.main-footer_nav-wrapper {
    justify-content: space-between;
    display: flex;
}

.main-footer_nav-item {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-weight: 500;
    line-height: 1.5;

    min-width: 65px;
    max-width: 110px;

    a {
        width: 100%;
    }
}
.main-footer_nav-item:last-child{
    max-width: 125px;
}

.main-footer_contacts {
    font-size: 12px;

    
}

.footer-contacts_line-1,.footer-contacts_line-2, .footer-contacts_line-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-contacts_line-1 > *:not(:last-child) {
    margin-right: 13px;
}

.footer-contacts_line-2 {
    margin: 15px 0 25px;
}

.footer-contacts_address {
    max-width: 60%;
    text-align: right;
}

@media all and (min-width: 320px) {

}


@media all and (min-width: 768px) {

}

@media all and (min-width: 1280px) {

}
