@import "variable";

.section{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.section-green{
    padding: 132px 0;
    background-color: $colorMain;
    color: #ffffff;
}

.section-heading{
    letter-spacing: 2.25px;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
    line-height: 1.5;
    font-size: 30px;
}
.section-choose {
    .section-heading {
        max-width: 36.5%;
        margin-bottom: 50px;
    }
    .photo-product{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 31.41%;
        // width: 63.59%;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
}

.section-how_inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.section-how_product-description{
    margin-top: 50px;
}
.section-how_advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 11.54%;
}
.section-how_product-description {
    @include spacedText;
}
.section-how_advantages-icon_wrapper {
    margin-bottom: 20px;
}
.section-how_advantages-icon {
    max-width: 124px;
}
.section-how_advantages-text {
    color: black;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.section-kids {
    background: url('./../../img/images/bl5-backgr.png') no-repeat center center $bgGrayCurves;
    background-size: cover;
}
.section-kids_inner, .section-diagn_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 100%;
}
.section-kids_inner {
    padding: 6.3% 0;
}
.section-kids_intro {
    text-align: right;
    .remark {
        margin: 10px 0 40px;
    }
}
// .section-kids_pic {
//     height: 100%;
// }
.section-diagn_inner {
    grid-template-columns: 500px auto;
    align-items: start;
}
.section-kids_pic-item, .section-kids_diagn-item {
    height: 100%;
    width: auto;
    position: relative;
}
.kids-product_symb {
    position: absolute;
    max-height: 532px;
    bottom: 11.25%;
    transform: translateX(-29%);
}

.section-diagn_intro {
    transform: translateY(110.5%);
    .section-heading {
        margin-bottom: 60px;
    }
}

.section-kids_diagn-item {
    transform: translate(5%,28.9%);
}


@media all and (min-width: 320px) {

}


@media all and (min-width: 768px) {

}

@media all and (min-width: 1280px) {

}
