//-- Font size --//


//-- Color --//

$colorMain:       #abc63b;
$colorSecondary:  #dfdfdf;
$fillGray:        #7e7f7f;
$textDefault:     #3d3d3d;


//-- Size --//

$paddingV:   30px;
$paddingH:     25px;
