//-- Font size --//


//-- Color --//

$colorMain:       #abc63b;
$colorSecondary:  #dfdfdf;
$fillGray:        #7e7f7f;
$textDefault:     #3d3d3d;
$textFooter:      #4c4c4c;
$bgGrayCurves:    #e3e6e4;
$fillIconsHeader: #8d8e8e;


//-- Size --//

$paddingV:   30px;
$paddingH:     25px;
$gap:           18px;